In [ ]:
import numpy as np
import pandas as pd
import glob
import os

import torch
import torch.utils.data as data_utils
from torch import nn
from torch.autograd import Variable
from torch.utils.data import DataLoader
from torchvision import transforms
import torch.nn.functional as F
import torch.optim as optim
from torch.nn.utils.rnn import pad_sequence

In [ ]:
from google.colab import drive

# This will prompt you to authorize Colab to access your Google Drive.
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

# Define the path to the CSV file inside the folder
path = r'/content/drive/MyDrive/Colab Notebooks/t20csv/zip1/211028.csv'
#path = r'/content/t20s_csv/211028.csv'


# Read the CSV file
df = pd.read_csv(path)

# Display the contents
print(f'Contents of file: {path}')
print(df)

Contents of file: /content/drive/MyDrive/Colab Notebooks/t20csv/zip1/211028.csv
          Team  Over          Batter       Bowler     Non_Striker  \
0      England     0  ME Trescothick        B Lee        GO Jones
1      England     0  ME Trescothick        B Lee        GO Jones
2      England     0        GO Jones        B Lee  ME Trescothick
3      England     0        GO Jones        B Lee  ME Trescothick
4      England     0        GO Jones        B Lee  ME Trescothick
..         ...   ...             ...          ...             ...
210  Australia    13      GD McGrath   A Flintoff   MS Kasprowicz
211  Australia    13      GD McGrath   A Flintoff   MS Kasprowicz
212  Australia    14      GD McGrath  SJ Harmison   MS Kasprowicz
213  Australia    14      GD McGrath  SJ Harmison   MS Kasprowicz
214  Australia    14      GD McGrath  SJ Harmison   MS Kasprowicz

     Batter_Runs  Extras  Total_Runs
0              0       0           0
1              1       0           1
2              0       0           0
3              0       0           0
4              0       0           0
..           ...     ...         ...
210            0       0           0
211            1       0           1
212            0       0           0
213            0       0           0
214            0       0           0

[215 rows x 8 columns]

In [ ]:
def reorder_columns(df, target_column_name, target_position):
    columns = df.columns.tolist()
    columns.insert(target_position, columns.pop(columns.index(target_column_name)))
    return df[columns]

In [ ]:
# Read the CSV file
df = pd.read_csv(path)

# Reorder the column (for example, moving column 'C' to the second position)
df = reorder_columns(df, 'Over', 0)

# Display the contents
print(f'Contents of file: {path}')
print(df)

Contents of file: /content/drive/MyDrive/Colab Notebooks/t20csv/zip1/211028.csv
     Over       Team          Batter       Bowler     Non_Striker  \
0       0    England  ME Trescothick        B Lee        GO Jones
1       0    England  ME Trescothick        B Lee        GO Jones
2       0    England        GO Jones        B Lee  ME Trescothick
3       0    England        GO Jones        B Lee  ME Trescothick
4       0    England        GO Jones        B Lee  ME Trescothick
..    ...        ...             ...          ...             ...
210    13  Australia      GD McGrath   A Flintoff   MS Kasprowicz
211    13  Australia      GD McGrath   A Flintoff   MS Kasprowicz
212    14  Australia      GD McGrath  SJ Harmison   MS Kasprowicz
213    14  Australia      GD McGrath  SJ Harmison   MS Kasprowicz
214    14  Australia      GD McGrath  SJ Harmison   MS Kasprowicz

     Batter_Runs  Extras  Total_Runs
0              0       0           0
1              1       0           1
2              0       0           0
3              0       0           0
4              0       0           0
..           ...     ...         ...
210            0       0           0
211            1       0           1
212            0       0           0
213            0       0           0
214            0       0           0

[215 rows x 8 columns]

In [ ]:
df = pd.read_csv(path)

# Reorder the column (for example, moving column 'C' to the second position)
df = reorder_columns(df, 'Team', 1)

# Display the contents
print(f'Contents of file: {path}')
print(df)

Contents of file: /content/drive/MyDrive/Colab Notebooks/t20csv/zip1/211028.csv
     Over       Team          Batter       Bowler     Non_Striker  \
0       0    England  ME Trescothick        B Lee        GO Jones
1       0    England  ME Trescothick        B Lee        GO Jones
2       0    England        GO Jones        B Lee  ME Trescothick
3       0    England        GO Jones        B Lee  ME Trescothick
4       0    England        GO Jones        B Lee  ME Trescothick
..    ...        ...             ...          ...             ...
210    13  Australia      GD McGrath   A Flintoff   MS Kasprowicz
211    13  Australia      GD McGrath   A Flintoff   MS Kasprowicz
212    14  Australia      GD McGrath  SJ Harmison   MS Kasprowicz
213    14  Australia      GD McGrath  SJ Harmison   MS Kasprowicz
214    14  Australia      GD McGrath  SJ Harmison   MS Kasprowicz

     Batter_Runs  Extras  Total_Runs
0              0       0           0
1              1       0           1
2              0       0           0
3              0       0           0
4              0       0           0
..           ...     ...         ...
210            0       0           0
211            1       0           1
212            0       0           0
213            0       0           0
214            0       0           0

[215 rows x 8 columns]

In [ ]:
df = pd.read_csv(path)

# Reorder the column (for example, moving column 'C' to the second position)
df = reorder_columns(df, 'Batter', 2)
#df = reorder_columns(df, 'Bowler', 5)
#df = reorder_columns(df, 'Non_Striker', 6)

# Display the contents
print(f'Contents of file: {path}')
print(df)

Contents of file: /content/drive/MyDrive/Colab Notebooks/t20csv/zip1/211028.csv
          Team  Over          Batter       Bowler     Non_Striker  \
0      England     0  ME Trescothick        B Lee        GO Jones
1      England     0  ME Trescothick        B Lee        GO Jones
2      England     0        GO Jones        B Lee  ME Trescothick
3      England     0        GO Jones        B Lee  ME Trescothick
4      England     0        GO Jones        B Lee  ME Trescothick
..         ...   ...             ...          ...             ...
210  Australia    13      GD McGrath   A Flintoff   MS Kasprowicz
211  Australia    13      GD McGrath   A Flintoff   MS Kasprowicz
212  Australia    14      GD McGrath  SJ Harmison   MS Kasprowicz
213  Australia    14      GD McGrath  SJ Harmison   MS Kasprowicz
214  Australia    14      GD McGrath  SJ Harmison   MS Kasprowicz

     Batter_Runs  Extras  Total_Runs
0              0       0           0
1              1       0           1
2              0       0           0
3              0       0           0
4              0       0           0
..           ...     ...         ...
210            0       0           0
211            1       0           1
212            0       0           0
213            0       0           0
214            0       0           0

[215 rows x 8 columns]

In [ ]:
df = pd.read_csv(path)

# Reorder the column (for example, moving column 'C' to the second position)
df = reorder_columns(df, 'Bowler', 3)

# Display the contents
print(f'Contents of file: {path}')
print(df)

Contents of file: /content/drive/MyDrive/Colab Notebooks/t20csv/zip1/211028.csv
          Team  Over          Batter       Bowler     Non_Striker  \
0      England     0  ME Trescothick        B Lee        GO Jones
1      England     0  ME Trescothick        B Lee        GO Jones
2      England     0        GO Jones        B Lee  ME Trescothick
3      England     0        GO Jones        B Lee  ME Trescothick
4      England     0        GO Jones        B Lee  ME Trescothick
..         ...   ...             ...          ...             ...
210  Australia    13      GD McGrath   A Flintoff   MS Kasprowicz
211  Australia    13      GD McGrath   A Flintoff   MS Kasprowicz
212  Australia    14      GD McGrath  SJ Harmison   MS Kasprowicz
213  Australia    14      GD McGrath  SJ Harmison   MS Kasprowicz
214  Australia    14      GD McGrath  SJ Harmison   MS Kasprowicz

     Batter_Runs  Extras  Total_Runs
0              0       0           0
1              1       0           1
2              0       0           0
3              0       0           0
4              0       0           0
..           ...     ...         ...
210            0       0           0
211            1       0           1
212            0       0           0
213            0       0           0
214            0       0           0

[215 rows x 8 columns]

In [ ]:
df = pd.read_csv(path)

# Reorder the column (for example, moving column 'C' to the second position)
df = reorder_columns(df, 'Non_Striker', 4)

# Display the contents
print(f'Contents of file: {path}')
print(df)

Contents of file: /content/drive/MyDrive/Colab Notebooks/t20csv/zip1/211028.csv
          Team  Over          Batter       Bowler     Non_Striker  \
0      England     0  ME Trescothick        B Lee        GO Jones
1      England     0  ME Trescothick        B Lee        GO Jones
2      England     0        GO Jones        B Lee  ME Trescothick
3      England     0        GO Jones        B Lee  ME Trescothick
4      England     0        GO Jones        B Lee  ME Trescothick
..         ...   ...             ...          ...             ...
210  Australia    13      GD McGrath   A Flintoff   MS Kasprowicz
211  Australia    13      GD McGrath   A Flintoff   MS Kasprowicz
212  Australia    14      GD McGrath  SJ Harmison   MS Kasprowicz
213  Australia    14      GD McGrath  SJ Harmison   MS Kasprowicz
214  Australia    14      GD McGrath  SJ Harmison   MS Kasprowicz

     Batter_Runs  Extras  Total_Runs
0              0       0           0
1              1       0           1
2              0       0           0
3              0       0           0
4              0       0           0
..           ...     ...         ...
210            0       0           0
211            1       0           1
212            0       0           0
213            0       0           0
214            0       0           0

[215 rows x 8 columns]

In [ ]:
# Read the CSV file
df = pd.read_csv(path)

# Reorder the column (for example, moving column 'C' to the second position)
df = reorder_columns(df, 'Over', 0)

# Display the contents
print(f'Contents of file: {path}')
print(df)

Contents of file: /content/drive/MyDrive/Colab Notebooks/t20csv/zip1/211028.csv
     Over       Team          Batter       Bowler     Non_Striker  \
0       0    England  ME Trescothick        B Lee        GO Jones
1       0    England  ME Trescothick        B Lee        GO Jones
2       0    England        GO Jones        B Lee  ME Trescothick
3       0    England        GO Jones        B Lee  ME Trescothick
4       0    England        GO Jones        B Lee  ME Trescothick
..    ...        ...             ...          ...             ...
210    13  Australia      GD McGrath   A Flintoff   MS Kasprowicz
211    13  Australia      GD McGrath   A Flintoff   MS Kasprowicz
212    14  Australia      GD McGrath  SJ Harmison   MS Kasprowicz
213    14  Australia      GD McGrath  SJ Harmison   MS Kasprowicz
214    14  Australia      GD McGrath  SJ Harmison   MS Kasprowicz

     Batter_Runs  Extras  Total_Runs
0              0       0           0
1              1       0           1
2              0       0           0
3              0       0           0
4              0       0           0
..           ...     ...         ...
210            0       0           0
211            1       0           1
212            0       0           0
213            0       0           0
214            0       0           0

[215 rows x 8 columns]

In [ ]:
# Read the CSV file
df = pd.read_csv(path)

# Delete the 8th column (index 7)
df = df.drop(df.columns[7], axis=1)

# Display the contents
print(f'Contents of file: {path}')
print(df)

Contents of file: /content/drive/MyDrive/Colab Notebooks/t20csv/zip1/211028.csv
          Team  Over          Batter       Bowler     Non_Striker  \
0      England     0  ME Trescothick        B Lee        GO Jones
1      England     0  ME Trescothick        B Lee        GO Jones
2      England     0        GO Jones        B Lee  ME Trescothick
3      England     0        GO Jones        B Lee  ME Trescothick
4      England     0        GO Jones        B Lee  ME Trescothick
..         ...   ...             ...          ...             ...
210  Australia    13      GD McGrath   A Flintoff   MS Kasprowicz
211  Australia    13      GD McGrath   A Flintoff   MS Kasprowicz
212  Australia    14      GD McGrath  SJ Harmison   MS Kasprowicz
213  Australia    14      GD McGrath  SJ Harmison   MS Kasprowicz
214  Australia    14      GD McGrath  SJ Harmison   MS Kasprowicz

     Batter_Runs  Extras
0              0       0
1              1       0
2              0       0
3              0       0
4              0       0
..           ...     ...
210            0       0
211            1       0
212            0       0
213            0       0
214            0       0

[215 rows x 7 columns]

In [ ]:
import pandas as pd

# Assuming you have your data in a DataFrame called df
# If not, you can read your CSV file using pd.read_csv('your_file.csv')

# Initialize global variables
current_over = None
ball_count = 0

# Function to generate dynamic over numbers
def generate_over(row):
    global current_over, ball_count
    if row['Over'] != current_over:
        current_over = row['Over']
        ball_count = 1
    else:
        ball_count += 1
    return f"{current_over}.{ball_count}"

# Apply the function to generate dynamic over numbers
df['Over'] = df.apply(generate_over, axis=1)

# Display the modified DataFrame
print(df)

          Team  Over          Batter       Bowler     Non_Striker  \
0      England   0.1  ME Trescothick        B Lee        GO Jones
1      England   0.2  ME Trescothick        B Lee        GO Jones
2      England   0.3        GO Jones        B Lee  ME Trescothick
3      England   0.4        GO Jones        B Lee  ME Trescothick
4      England   0.5        GO Jones        B Lee  ME Trescothick
..         ...   ...             ...          ...             ...
210  Australia  13.5      GD McGrath   A Flintoff   MS Kasprowicz
211  Australia  13.6      GD McGrath   A Flintoff   MS Kasprowicz
212  Australia  14.1      GD McGrath  SJ Harmison   MS Kasprowicz
213  Australia  14.2      GD McGrath  SJ Harmison   MS Kasprowicz
214  Australia  14.3      GD McGrath  SJ Harmison   MS Kasprowicz

     Batter_Runs  Extras
0              0       0
1              1       0
2              0       0
3              0       0
4              0       0
..           ...     ...
210            0       0
211            1       0
212            0       0
213            0       0
214            0       0

[215 rows x 7 columns]

In [ ]:
# Initialize a counter
counter = 1

# Create a list to store the values for the new column
new_column_values = []

# Iterate through the DataFrame
for i in range(len(df)):
    if i > 0 and df.at[i, 'Team'] != df.at[i - 1, 'Team']:
        counter += 1
    new_column_values.append(counter)

# Add the new column to the DataFrame
df.insert(0, 'Innings', new_column_values)

# Display the modified DataFrame
print(df)

     Innings       Team  Over          Batter       Bowler     Non_Striker  \
0          1    England   0.1  ME Trescothick        B Lee        GO Jones
1          1    England   0.2  ME Trescothick        B Lee        GO Jones
2          1    England   0.3        GO Jones        B Lee  ME Trescothick
3          1    England   0.4        GO Jones        B Lee  ME Trescothick
4          1    England   0.5        GO Jones        B Lee  ME Trescothick
..       ...        ...   ...             ...          ...             ...
210        2  Australia  13.5      GD McGrath   A Flintoff   MS Kasprowicz
211        2  Australia  13.6      GD McGrath   A Flintoff   MS Kasprowicz
212        2  Australia  14.1      GD McGrath  SJ Harmison   MS Kasprowicz
213        2  Australia  14.2      GD McGrath  SJ Harmison   MS Kasprowicz
214        2  Australia  14.3      GD McGrath  SJ Harmison   MS Kasprowicz

     Batter_Runs  Extras
0              0       0
1              1       0
2              0       0
3              0       0
4              0       0
..           ...     ...
210            0       0
211            1       0
212            0       0
213            0       0
214            0       0

[215 rows x 8 columns]